In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
import json
import operator
from tqdm import tqdm_notebook as tqdm
import gmplot
from pprint import pprint
import gmaps
# Google developer API key
from config import gkey
from config2 import geokey
# Configure gmaps
gmaps.configure(api_key=gkey)
from opencage.geocoder import OpenCageGeocode

In [ ]:
outbound_data = "Resources/Combined Tables_OneFile/FlightsDataCLEAN.csv"
#cities_df = pd.read_csv(csv_path)
outbound_data_df = pd.read_csv(outbound_data,encoding="utf-8")
outbound_data_df.head()

most_visited_destination = "Resources/Airport Codes/100mostvisitedwithlatlong.csv"
most_visited_cities_df = pd.read_csv(most_visited_destination,encoding="utf-8")
#len(most_visited_cities_df)
#outbound_airport_code_tolist = outbound_data_df['Airport Code'].tolist()
#outbound_airport_code_tolist
most_visited_cities_df

cities_diclat = {row[1]: row[3] for k, row in most_visited_cities_df.iterrows()}
cities_dic
cities_diclong = {row[1]: row[4] for k, row in most_visited_cities_df.iterrows()}
most_visited_cities_df

In [ ]:
outbound_data_df['Lat'] = outbound_data_df['City Name'].map(cities_diclat)
outbound_data_df
outbound_data_df['Long'] = outbound_data_df['City Name'].map(cities_diclong)
outbound_data_df

In [ ]:
export_csv = outbound_data_df.to_csv(r'C:\Users\pablo\Google Drive\Certifications\Rice Data Analytics\HomeWorks_Projects\COPY_Project_1\Resources\FlightDataCLEANwithLatLong.csv',index = False)

In [ ]:
############################## CODE TO GET LAT LONG OF CITY AND COUNTRY

#https://amaral.northwestern.edu/blog/getting-long-lat-list-cities
#https://opencagedata.com/tutorials/geocode-in-python
# key = geokey

# geocoder = OpenCageGeocode(key)

# list_lat = []
# list_long = []

# print(f"Beginning Data Acquisition")
# print(f"------------&&&&-------------------")

# for index, row in tqdm(outbound_data_df.iterrows()): #iterate over rows in data frame
#     City = row['City Name']
#     Country = row['Country Name']
#     query = str(City)+','+str(Country)
    
#     results = geocoder.geocode(query)
#     lat = results[0]['geometry']['lat']
#     long = results[0]['geometry']['lng']
    
#     list_lat.append(lat)
#     list_long.append(long)

# print(f"------------&&&&---------------")
# print(f"Data Acquisition Complete")
# print(f"------------&&&&---------------")
# # create a new columns from lists

# outbound_data_df['lat'] = list_lat
# outbound_data_df['long'] = list_long

In [2]:
export_csv = outbound_data_df.to_csv(r'C:\Users\pablo\Google Drive\Certifications\Rice Data Analytics\HomeWorks_Projects\COPY_Project_1\Resources\Test.csv',index = False)

NameError: name 'outbound_data_df' is not defined

In [30]:
######################## READING COMBINED TABLE CREATED DURING DATA CLEANING ####################

combinedtable = "Resources/Combined Tables_OneFile/FlightDataCLEANwithLatLong.csv"
combinedtable = pd.read_csv(combinedtable,encoding="utf-8")
combinedtable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7486 entries, 0 to 7485
Data columns (total 15 columns):
Departure City       7486 non-null object
City ID              7486 non-null int64
City Name            7486 non-null object
Airport Name         7486 non-null object
Iata Code            7486 non-null object
Country Name         7486 non-null object
City ID Departure    7486 non-null int64
Min Price            7486 non-null int64
Airline ID           7486 non-null int64
Non-Stop Flight      7486 non-null bool
Departure Date       7486 non-null object
Quote ID             7486 non-null int64
Airline Name         7486 non-null object
Lat                  7486 non-null object
Long                 7486 non-null float64
dtypes: bool(1), float64(1), int64(5), object(8)
memory usage: 826.2+ KB

In [31]:
# CONVERT LAT TO FLOAT BECAUSE IT WAS AN OBJECT 
convert_lat = {'Lat': float}
combinedtable = combinedtable.astype(convert_lat)
combinedtable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7486 entries, 0 to 7485
Data columns (total 15 columns):
Departure City       7486 non-null object
City ID              7486 non-null int64
City Name            7486 non-null object
Airport Name         7486 non-null object
Iata Code            7486 non-null object
Country Name         7486 non-null object
City ID Departure    7486 non-null int64
Min Price            7486 non-null int64
Airline ID           7486 non-null int64
Non-Stop Flight      7486 non-null bool
Departure Date       7486 non-null object
Quote ID             7486 non-null int64
Airline Name         7486 non-null object
Lat                  7486 non-null float64
Long                 7486 non-null float64
dtypes: bool(1), float64(2), int64(5), object(7)
memory usage: 826.2+ KB

In [44]:
# GROUP DATA BY CITY TO GET QUOTES COUNT
combinedtablegrouped = combinedtable.groupby("City Name")
combinedtablegrouped.head()

,Departure City,City ID,City Name,Airport Name,Iata Code,Country Name,City ID Departure,Min Price,Airline ID,Non-Stop Flight,Departure Date,Quote ID,Airline Name,Lat,Long
0,Houston,56615,Hong Kong,Hong Kong International,HKG,Hong Kong,58440,454,1276,False,12/1/2019,1,Japan Airlines,22.350627,114.184916
1,Houston,56615,Hong Kong,Hong Kong International,HKG,Hong Kong,58440,487,1467,False,12/4/2019,2,Spirit Airlines,22.350627,114.184916
2,Houston,56615,Hong Kong,Hong Kong International,HKG,Hong Kong,58440,684,1065,False,12/12/2019,3,Frontier Airlines,22.350627,114.184916
3,Houston,56615,Hong Kong,Hong Kong International,HKG,Hong Kong,58440,918,898,False,12/14/2019,4,EVA Air,22.350627,114.184916
4,Houston,56615,Hong Kong,Hong Kong International,HKG,Hong Kong,58440,1022,1276,False,12/20/2019,5,Japan Airlines,22.350627,114.184916
9,Houston,42795,Bangkok,Bangkok Suvarnabhumi,BKK,Thailand,58440,494,1713,False,12/1/2019,1,Singapore Airlines,13.724433,100.603385
10,Houston,42795,Bangkok,Bangkok Suvarnabhumi,BKK,Thailand,58440,455,1276,False,12/2/2019,2,Japan Airlines,13.724433,100.603385
11,Houston,42795,Bangkok,Bangkok Suvarnabhumi,BKK,Thailand,58440,497,1713,False,12/3/2019,3,Singapore Airlines,13.724433,100.603385
12,Houston,42795,Bangkok,Bangkok Suvarnabhumi,BKK,Thailand,58440,464,1276,False,12/4/2019,4,Japan Airlines,13.724433,100.603385
13,Houston,42795,Bangkok,Bangkok Suvarnabhumi,BKK,Thailand,58440,461,1276,False,12/5/2019,5,Japan Airlines,13.724433,100.603385
39,Houston,65698,London,London Heathrow,LHR,United Kingdom,58440,526,1482,False,12/1/2019,1,Air New Zealand,51.507322,-0.127647
40,Houston,65698,London,London Heathrow,LHR,United Kingdom,58440,548,1710,True,12/1/2019,2,Brussels Airlines,51.507322,-0.127647
41,Houston,65698,London,London Heathrow,LHR,United Kingdom,58440,494,1523,True,12/2/2019,3,Austrian Airlines,51.507322,-0.127647
42,Houston,65698,London,London Heathrow,LHR,United Kingdom,58440,424,1384,True,12/3/2019,4,SWISS,51.507322,-0.127647
43,Houston,65698,London,London Heathrow,LHR,United Kingdom,58440,287,870,False,12/4/2019,5,jetBlue,51.507322,-0.127647
89,Houston,81870,Singapore,Singapore Changi,SIN,Singapore,58440,458,1793,False,12/3/2019,1,United,1.290475,103.852036
90,Houston,81870,Singapore,Singapore Changi,SIN,Singapore,58440,457,1464,False,12/4/2019,2,ANA,1.290475,103.852036
91,Houston,81870,Singapore,Singapore Changi,SIN,Singapore,58440,512,1793,False,12/6/2019,3,United,1.290475,103.852036
92,Houston,81870,Singapore,Singapore Changi,SIN,Singapore,58440,479,1464,False,12/10/2019,4,ANA,1.290475,103.852036
93,Houston,81870,Singapore,Singapore Changi,SIN,Singapore,58440,582,929,False,12/14/2019,5,Air China,1.290475,103.852036
102,Houston,48018,Dubai,Dubai,DXB,United Arab Emirates,58440,902,835,False,12/2/2019,1,Air Canada,25.075010,55.188761
103,Houston,48018,Dubai,Dubai,DXB,United Arab Emirates,58440,938,1035,True,12/2/2019,2,Emirates,25.075010,55.188761
104,Houston,48018,Dubai,Dubai,DXB,United Arab Emirates,58440,656,881,False,12/5/2019,3,British Airways,25.075010,55.188761
105,Houston,48018,Dubai,Dubai,DXB,United Arab Emirates,58440,945,1035,True,12/5/2019,4,Emirates,25.075010,55.188761
106,Houston,48018,Dubai,Dubai,DXB,United Arab Emirates,58440,1014,1755,False,12/6/2019,5,Turkish Airlines,25.075010,55.188761
135,Houston,44759,Paris,Paris Charles de Gaulle,CDG,France,58440,600,1713,False,12/1/2019,1,Singapore Airlines,48.856697,2.351462
136,Houston,44759,Paris,Paris Charles de Gaulle,CDG,France,58440,1267,1324,True,12/1/2019,2,KLM,48.856697,2.351462
137,Houston,44759,Paris,Paris Charles de Gaulle,CDG,France,58440,2834,1368,False,12/2/2019,3,Lufthansa,48.856697,2.351462
138,Houston,44759,Paris,Paris Charles de Gaulle,CDG,France,58440,345,1467,False,12/4/2019,4,Spirit Airlines,48.856697,2.351462
139,Houston,44759,Paris,Paris Charles de Gaulle,CDG,France,58440,1296,1324,True,12/4/2019,5,KLM,48.856697,2.351462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,Houston,45186,Colombo,Colombo Bandaranayake,CMB,Sri Lanka,58440,589,881,False,12/29/2019,3,British Airways,6.934997,79.853846
801,Houston,47009,Washington,Washington Ronald Reagan,DCA,United States,58440,237,1793,True,12/1/2019,1,United,38.889931,-77.009003
802,Houston,47009,Washington,Washington Ronald Reagan,DCA,United States,58440,184,1793,True,12/2/2019,2,United,38.889931,-77.009003
803,Houston,47009,Washington,Washington Ronald Reagan,DCA,United States,58440,546,1793,True,12/3/2019,3,United,38.889931,-77.009003
804,Houston,47009,Washington,Washington Ronald Reagan,DCA,United States,58440,385,1793,True,12/4/2019,4,United,38.889931,-77.009003
805,Houston,47009,Washington,Washington Ronald Reagan,DCA,United States,58440,457,1065,False,12/5/2019,5,Frontier Airlines,38.889931,-77.009003
1316,Atlanta,63448,Osaka,Osaka Kansai International,KIX,Japan,40924,1161,1276,False,12/11/2019,1,Japan Airlines,34.693757,135.501454
1317,Atlanta,63448,Osaka,Osaka Kansai International,KIX,Japan,40924,2081,1276,False,12/18/2019,2,Japan Airlines,34.693757,135.501454
1318,Atlanta,63448,Osaka,Osaka Kansai International,KIX,Japan,40924,2428,1276,False,12/19/2019,3,Japan Airlines,34.693757,135.501454
1319,Atlanta,63448,Osaka,Osaka Kansai International,KIX,Japan,40924,2084,1276,False,12/21/2019,4,Japan Airlines,34.693757,135.501454
1458,Atlanta,56138,Hannover,Hannover,HAJ,Germany,40924,3013,838,False,12/21/2019,1,Air France,52.370520,9.733220
1459,Atlanta,56138,Hannover,Hannover,HAJ,Germany,40924,2912,838,False,12/23/2019,2,Air France,52.370520,9.733220
1460,Atlanta,56138,Hannover,Hannover,HAJ,Germany,40924,2914,838,False,12/25/2019,3,Air France,52.370520,9.733220
1477,Atlanta,65634,Long Beach,Long Beach Municipal,LGB,United States,40924,316,833,False,12/2/2019,1,American Airlines,33.770050,-118.193741
1478,Atlanta,65634,Long Beach,Long Beach Municipal,LGB,United States,40924,191,833,False,12/25/2019,2,American Airlines,33.770050,-118.193741
1488,Atlanta,91273,Nowy Dwor Mazowiecki,Warsaw Modlin,WMI,Poland,40924,643,870,False,12/20/2019,1,jetBlue,52.430220,20.716520
1489,Atlanta,91273,Nowy Dwor Mazowiecki,Warsaw Modlin,WMI,Poland,40924,609,1902,False,12/21/2019,2,Southwest Airlines,52.430220,20.716520
1490,Atlanta,91273,Nowy Dwor Mazowiecki,Warsaw Modlin,WMI,Poland,40924,477,1902,False,12/30/2019,3,Southwest Airlines,52.430220,20.716520
1724,Atlanta,45186,Colombo,Colombo Bandaranayake,CMB,Sri Lanka,40924,589,881,False,12/10/2019,1,British Airways,6.934997,79.853846
1725,Atlanta,45186,Colombo,Colombo Bandaranayake,CMB,Sri Lanka,40924,692,870,False,12/12/2019,2,jetBlue,6.934997,79.853846
2712,New York,66330,Lublin,Lublin,LUZ,Poland,60987,647,1001,False,12/20/2019,1,Norwegian,51.400890,16.201490
2824,New York,56138,Hannover,Hannover,HAJ,Germany,60987,397,1713,False,12/3/2019,1,Singapore Airlines,52.370520,9.733220
2946,New York,44809,Chiang Rai,Chiang Rai,CEI,Thailand,60987,554,1713,False,12/4/2019,1,Singapore Airlines,19.908580,99.832500
2947,New York,91273,Nowy Dwor Mazowiecki,Warsaw Modlin,WMI,Poland,60987,229,1001,False,12/1/2019,1,Norwegian,52.430220,20.716520
2948,New York,91273,Nowy Dwor Mazowiecki,Warsaw Modlin,WMI,Poland,60987,229,1001,False,12/2/2019,2,Norwegian,52.430220,20.716520
3408,New York,49326,Tymbou,Ercan,ECN,Cyprus,60987,526,1001,False,12/26/2019,1,Norwegian,35.134722,33.528889
3744,Los Angeles,67901,Macau,Macau,MFM,Macau,65368,486,1414,False,12/26/2019,1,Xiamen Airlines,22.175760,113.551414
4562,Los Angeles,44809,Chiang Rai,Chiang Rai,CEI,Thailand,65368,608,1276,False,12/16/2019,1,Japan Airlines,19.908580,99.832500
5832,Seattle,52063,Florence,Florence,FLO,United States,81665,2870,851,False,12/22/2019,1,Alaska Airlines,43.769871,11.255576
7102,Chicago,50101,Essaouira,Essaouira,ESU,Morocco,73076,742,1760,False,12/18/2019,1,TAP,31.512500,-9.770000

In [89]:
# OBTAIN QUOUTES COUNT
quotes_counts = combinedtablegrouped['Quote ID'].count()
quotes_counts = quotes_counts.reset_index() 
#quotes_counts_list = quotes_counts.tolist()
#quotes_counts_list

# Data frame to dictionary. I realize that I don't need to do this
#https://www.geeksforgeeks.org/python-pandas-dataframe-to_dict/
#quotes_counts_dict = quotes_counts.to_dict()

# I just drop the duplicates but keep the first city of each row 
combinedtable_drop_cities = combinedtable.drop_duplicates(subset = "City Name", keep = 'first')

# Merge quotes and drop cities DF considering that they both are the same shape
tableheatmap = pd.merge(combinedtable_drop_cities,quotes_counts, how ='outer', on = 'City Name')

# Rename second Quote ID to to Total Quotes
tableheatmap = tableheatmap.rename(columns ={'Quote ID_y': 'Total Quotes'})
tableheatmap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 16 columns):
Departure City       53 non-null object
City ID              53 non-null int64
City Name            53 non-null object
Airport Name         53 non-null object
Iata Code            53 non-null object
Country Name         53 non-null object
City ID Departure    53 non-null int64
Min Price            53 non-null int64
Airline ID           53 non-null int64
Non-Stop Flight      53 non-null bool
Departure Date       53 non-null object
Quote ID_x           53 non-null int64
Airline Name         53 non-null object
Lat                  53 non-null float64
Long                 53 non-null float64
Total Quotes         53 non-null int64
dtypes: bool(1), float64(2), int64(6), object(7)
memory usage: 6.7+ KB

In [138]:
# Store latitude and longitude in locations
locations2 = tableheatmap[["Lat", "Long"]]
locations2.info()

#Store quotes in total quotes
total_quotes = tableheatmap['Total Quotes']
total_quotes.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 2 columns):
Lat     53 non-null float64
Long    53 non-null float64
dtypes: float64(2)
memory usage: 1.2 KB

0    216
1    177
2    324
3    168
4    247
Name: Total Quotes, dtype: int64

In [86]:
############################### Plot Markers ###########################################
fig = gmaps.figure()

# Create heat layer
markers = gmaps.marker_layer(locations2)


# Add layer
fig.add_layer(markers)

#plt.savefig("images/actualcitiesinproject.png", bbox_inches="tight")
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [142]:
################################ Plot Heat Map of Cities per Quotes Quantity ##################
heat_layer.dissipating = False
heatmap_layer2.max_intesity = 4000
heatmap_layer2.point_radius = 50
heatmap_layer2.opacity = 0.1

fig = gmaps.figure(map_type = 'ROADMAP')
heatmap_layer2 = gmaps.heatmap_layer(locations2)
fig.add_layer(heatmap_layer2)

fig

Figure(layout=FigureLayout(height='420px'))